


<footer class="w-full p-5">


    <ul class="flex gap-5 justify-center">
        <li class="cursor-pointer" onclick="location.href='/'">home</li>
        <li class="cursor-pointer" onclick="location.href='/'">contact</li>
        <li class="cursor-pointer" onclick="location.href='/'">about</li>
        <li class="cursor-pointer" onclick="location.href='/'">policy</li>
    </ul>


</footer>
</body>
</html>